<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="/styles/style.css" type="text/css">
</head>

<body>
<!-- Navigation bar -->
<%- include ('modules/navbar')%>


<div class="carousel-inner rounded">
    <div class="carousel-item active">
      <img src="images/0.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Adana kebab</h5>
        <p>The name speaks for itself, because the homeland of this dish is the hot city of Adana. The treat consists of two long narrow cutlets cooked on the grill. Minced lamb is used for them, the most lean pieces are used. Lean meat is rolled with onions, garlic and spices in a meat grinder, which replaced the two sharpest knives with which meat should have been finely chopped during the times of the Ottoman sultans and beautiful concubines. Adana kebab is served on special tortillas, and the dish is decorated with grilled vegetables - green pepper and tomato.</p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="images/1.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Keramite kavurma</h5>
        <p>It is finely chopped pieces of meat - most often beef, with the addition of fresh vegetables (tomatoes and pepper) and olive oil. The dish is prepared in a special ceramic bowl for a very short time – so that the vegetables have time to brown a little, and the meat does not become over-dried. It is served in ceramic dishes directly from the oven, so you need to eat it carefully so as not to get burned.</p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="images/2.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Pide and Lahmajun</h5>
        <p>Turkish pastries are also very tasty, confidently competing with Italian pizza. The Turks cook the dough amazingly delicious, and the fillings are very diverse. The most delicious is a simple pide with cheese - Kasharly pide. Turkish pizza has a more complex filling - minced meat, tomatoes with onions, and finely chopped greens are put into the classic lahmajun.</p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="images/3.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Iskander kebab</h5>
        <p>This dish occupies the top lines in all menus in cafes and restaurants in Turkey. But it is prepared everywhere in different ways. It comes from the city of Bursa, where a special recipe for cooking this meat delicacy is passed down from generation to generation. What awaits gourmets who ordered Iskender kebab? Fresh lamb cooked on a spit and finely planed, a generous portion of homemade yogurt and a special hot sauce is the secret of the chef of the chosen institution.</p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="images/4.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Patlyjan kebab</h5>
        <p>A very popular dish, which you can try not only in a restaurant, but also in any inexpensive cafe. The main thing is to learn how to pronounce the word "eggplant" correctly, which is the highlight of this dish. And it looks like a big barbecue - large pieces of minced lamb are interspersed with pieces of eggplant, all this is strung on a skewer and baked in the hearth.</p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="images/5.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Pilyav</h5>
        <p>Unlike the famous Uzbek pilaf, pilav is just rice. But the Turks cook it masterfully - crumbly, golden, it becomes not only an amazing side dish, but also a separate delicious dish.</p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="images/6.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Chorba</h5>
            <p>Almost at every step you can eat boiling Turkish soup – chorba. They are represented by three main recipes:

              * Merjemek chorba is a thick soup of mashed lentils with the addition of aromatic seasonings.
              * Tavuk chorba is a rich chicken broth with a large amount of boiled chicken and squeezed fresh lemon.
              * Pacha chorba - broth of lamb heads with garlic.
                  
              You can treat yourself to a fiery soup at any time of the day or night - bus drivers finish their work shift with it and travelers meet the dawn, so you can always find the best masters of Turkish chorba in cafes near bus stations.</p>
        </div>
    </div>

    <div class="carousel-item">
      <img src="images/7.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Djadzhik</h5>
        <p>Hot meat dishes are good only in the evening, when the heat recedes. And you can satisfy your hunger and take a break from the obsessive heat during the day with a plate of ice soup Djadzhik. It is prepared on the basis of homemade yogurt or ayran, with the addition of finely chopped dill and fresh cucumbers.</p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="images/8.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Gozleme</h5>
        <p>And every tourist is familiar with these Turkish tortillas. They are so attracted to vacationers that every hotel is fighting for the best craftsmen baking gozleme for guests. This is a thinly rolled dough, fried in oil, with a variety of fillings - potatoes, cheese, cheese and minced meat. And sweet tooths can try sweet hot tortillas with chocolate cream.

        It is best to finish the feast with a small glass of strong tea with a piece of baklava. After all, the main secret of this delicacy is not available for store-bought sweets: honey treats are consumed only freshly prepared. Bon Appetit!</p>
      </div>
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
</div>

<!-- Fast Food -->
<section class="center">
    <h2 class="title" id="hhh">Fast food</h2>
    <div class="accordion" id="accordionExample">
        <div class="card collapseItem">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn-block text-left foodbtn" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Hamburger
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">

                    <%if(hamburger != '') {%>
                    <%hamburger.forEach(element => {%>
                    <div class="card" style="width: 18rem;">
                        <img src="<%=element.img%>" class="card-img-top" alt="...">
                        <div class="card-body">
                            <hr>
                            <h5 class="card-title"><%=element.title%></h5>
                            <p class="card-text"><%=element.price%> | <%-parseFloat(priceUSD*parseFloat(element.price)).toFixed(2)%>$ | <%-parseFloat(priceKZT*parseFloat(element.price)).toFixed(2)%>₸</p>
                            <a href="#" class="takeOrderbtn">Add to cart</a>
                        </div>
                    </div>
                    <%})%>
                    <%}else{%>
                        <h6>List is empty</h6>
                    <%}%>
                </div>
            </div>
        </div>


        <div class="card collapseItem">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn-block text-left collapsed foodbtn" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Pizza
                    </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">

                    <%if(pizza != '') {%>
                    <%pizza.forEach(element => {%>
                    <div class="card" style="width: 18rem;">
                        <img src="<%=element.img%>" class="card-img-top" alt="...">
                        <div class="card-body">
                            <hr>
                            <h5 class="card-title"><%=element.title%></h5>
                            <p class="card-text"><%=element.price%> | <%-parseFloat(priceUSD*parseFloat(element.price)).toFixed(2)%>$ | <%-parseFloat(priceKZT*parseFloat(element.price)).toFixed(2)%>₸</p>
                            <a href="#" class="takeOrderbtn">Add to cart</a>
                        </div>
                    </div>
                    <%})%>
                    <%}else{%>
                        <h6>List is empty</h6>
                    <%}%>
                </div>
            </div>
        </div>
        <div class="card collapseItem">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn-block text-left collapsed foodbtn" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Sushi
                    </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">

                    <div class="card" style="width: 18rem;">
                        <img src="https://eda.yandex/images/1380157/9d4bb29551bd0fa9093dd90d03eec1ec-450x300.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <hr>
                            <h5 class="card-title">Bomb Platter</h5>
                            <p class="card-text">20.00€ | <%-parseFloat(priceUSD*20.0).toFixed(2)%>$ | <%-parseFloat(priceKZT*20.0).toFixed(2)%>₸</p>
                            <a href="#" class="takeOrderbtn">Add to cart</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="https://eda.yandex/images/3813301/9f999b75f4cf1949b1cce9b47e8bf00e-450x300.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <hr>
                            <h5 class="card-title">Fusion Platter</h5>
                            <p class="card-text">30.50€ | <%-parseFloat(priceUSD*30.50).toFixed(2)%>$ | <%-parseFloat(priceKZT*30.50).toFixed(2)%>₸</p>
                            <a href="#" class="takeOrderbtn">Add to cart</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="https://eda.yandex/images/1380157/47c2fc42cde0e482038084141c1ce469-450x300.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <hr>
                            <h5 class="card-title">Favorite Platter</h5>
                            <p class="card-text">15.50€ | <%-parseFloat(priceUSD*15.50).toFixed(2)%>$ | <%-parseFloat(priceKZT*15.50).toFixed(2)%>₸</p>
                            <a href="#" class="takeOrderbtn">Add to cart</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="https://eda.yandex/images/3538649/d75a67cc2591d6c4b9fef46d9bbec9b6-450x300.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <hr>
                            <h5 class="card-title">Two Way platter</h5>
                            <p class="card-text">9.50€ | <%-parseFloat(priceUSD*9.50).toFixed(2)%>$ | <%-parseFloat(priceKZT*9.50).toFixed(2)%>₸</p>
                            <a href="#" class="takeOrderbtn">Add to cart</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- Healthy food -->

<section class="center">
    <h2 class="title">Healthy food</h2>
    <div class="accordion" id="accordionExample">
        <div class="card collapseItem">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn-block text-left foodbtn" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapseOne">
                        Salad
                    </button>
                </h2>
            </div>

            <div id="collapse3" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="card" style="width: 18rem;">
                        <img src="https://eda.yandex/images/1380157/79a4d51a674d8c4bdb2f1ff0b7c40f1f-450x300.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <hr>
                            <h5 class="card-title">Caesar</h5>
                            <p class="card-text">4.60€ | <%-parseFloat(priceUSD*4.60).toFixed(2)%>$ | <%-parseFloat(priceKZT*4.60).toFixed(2)%>₸</p>
                            <a href="#" class="takeOrderbtn">Add to cart</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="https://eda.yandex/images/1380157/4ec266ab5616f51e0cb36348888e8e2d-450x300.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <hr>
                            <h5 class="card-title">Greek</h5>
                            <p class="card-text">3.60€ | <%-parseFloat(priceUSD*3.60).toFixed(2)%>$ | <%-parseFloat(priceKZT*3.60).toFixed(2)%>₸</p>
                            <a href="#" class="takeOrderbtn">Add to cart</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="https://eda.yandex/images/1380157/2d2f8707083e9b21d39eb3c2f8425889-450x300.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <hr>
                            <h5 class="card-title">Nicoise</h5>
                            <p class="card-text">2.00€ | <%-parseFloat(priceUSD*2.0).toFixed(2)%>$ | <%-parseFloat(priceKZT*2.0).toFixed(2)%>₸</p>
                            <a href="#" class="takeOrderbtn">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card collapseItem">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn-block text-left collapsed foodbtn" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapseTwo">
                        Soup
                    </button>
                </h2>
            </div>
            <div id="collapse4" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="card" style="width: 18rem;">
                        <img src="https://eda.yandex/images/1380157/70c76c68ce177ecd6dbcab5546efda53-450x300.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <hr>
                            <h5 class="card-title">Tom Yam</h5>
                            <p class="card-text">10.00€ | <%-parseFloat(priceUSD*10.0).toFixed(2)%>$ | <%-parseFloat(priceKZT*10.0).toFixed(2)%>₸</p>
                            <a href="#" class="takeOrderbtn">Add to cart</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="https://eda.yandex/images/1380157/38ef89fad30b389a37934061e57f6606-450x300.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <hr>
                            <h5 class="card-title">Broccoli cream soup</h5>
                            <p class="card-text">6.29€ | <%-parseFloat(priceUSD*6.29).toFixed(2)%>$ | <%-parseFloat(priceKZT*6.29).toFixed(2)%>₸</p>
                            <a href="#" class="takeOrderbtn">Add to cart</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="https://eda.yandex/images/1380157/d1ed47e0a023cdd0c0e0ebcc62968b4b-450x300.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <hr>
                            <h5 class="card-title">Borsch</h5>
                            <p class="card-text">4.49€ | <%-parseFloat(priceUSD*4.49).toFixed(2)%>$ | <%-parseFloat(priceKZT*4.49).toFixed(2)%>₸</p>
                            <a href="#" class="takeOrderbtn">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card collapseItem">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn-block text-left collapsed foodbtn" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapseThree">
                        Pasta
                    </button>
                </h2>
            </div>
            <div id="collapse6" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">

                    <div class="card" style="width: 18rem;">
                        <img src="https://eda.yandex/images/1380157/f3d3b7ee913b0bd713859e0489871fbb-450x300.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <hr>
                            <h5 class="card-title">Bolognese</h5>
                            <p class="card-text">12.00€ | <%-parseFloat(priceUSD*12.0).toFixed(2)%>$ | <%-parseFloat(priceKZT*12.0).toFixed(2)%>₸</p>
                            <a href="#" class="takeOrderbtn">Add to cart</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="https://eda.yandex/images/1380157/610d3ea5c11281540a162462bb07cd8e-450x300.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <hr>
                            <h5 class="card-title">Fettuccine</h5>
                            <p class="card-text">12.21€ | <%-parseFloat(priceUSD*12.21).toFixed(2)%>$ | <%-parseFloat(priceKZT*12.21).toFixed(2)%>₸</p>
                            <a href="#" class="takeOrderbtn">Add to cart</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="https://eda.yandex/images/1380157/dd188214c9b32e451650685dc112d233-450x300.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <hr>
                            <h5 class="card-title">Carbonara</h5>
                            <p class="card-text">15.75€ | <%-parseFloat(priceUSD*15.75).toFixed(2)%>$ | <%-parseFloat(priceKZT*15.75).toFixed(2)%>₸</p>
                            <a href="#" class="takeOrderbtn">Add to cart</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="https://eda.yandex/images/1387779/79bd6b80358f60c039bf3df1f814dfcc-450x300.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <hr>
                            <h5 class="card-title">Farfalle</h5>
                            <p class="card-text">11.25€ | <%-parseFloat(priceUSD*11.25).toFixed(2)%>$ | <%-parseFloat(priceKZT*11.25).toFixed(2)%>₸</p>
                            <a href="#" class="takeOrderbtn">Add to cart</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!--Desserts-->
<section class="center">
    <h2 class="title">Desserts</h2>
    <div class="accordion" id="accordionExample">
        <div class="card collapseItem">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn-block text-left foodbtn" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="true" aria-controls="collapseOne">
                        Cakes
                    </button>
                </h2>
            </div>

            <div id="collapse5" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="card" style="width: 18rem;">
                        <img src="https://eda.yandex/images/3809330/5293012745c39ab71c07d5f1a3632973-450x300.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <hr>
                            <h5 class="card-title">Whoopie pie</h5>
                            <p class="card-text">3.50€ | <%-parseFloat(priceUSD*3.5).toFixed(2)%>$ | <%-parseFloat(priceKZT*3.5).toFixed(2)%>₸</p>
                            <a href="#" class="takeOrderbtn">Add to cart</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="https://eda.yandex/images/3547279/f07690a763bee86408fbd4acc58ac95c-450x300.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <hr>
                            <h5 class="card-title">Tiramisu</h5>
                            <p class="card-text">3.75€ | <%-parseFloat(priceUSD*3.75).toFixed(2)%>$ | <%-parseFloat(priceKZT*3.75).toFixed(2)%>₸</p>
                            <a href="#" class="takeOrderbtn">Add to cart</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="https://eda.yandex/images/2370127/3434739520b15d5703b83cbe0efc1dc4-450x300.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <hr>
                            <h5 class="card-title">Snickers</h5>
                            <p class="card-text">5.24€ | <%-parseFloat(priceUSD*5.24).toFixed(2)%>$ | <%-parseFloat(priceKZT*5.24).toFixed(2)%>₸</p>
                            <a href="#" class="takeOrderbtn">Add to cart</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="https://eda.yandex/images/3595156/96da607b4a34caf7a1926953eb05e3dd-450x300.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <hr>
                            <h5 class="card-title">Spinach cake</h5>
                            <p class="card-text">4.25€ | <%-parseFloat(priceUSD*4.25).toFixed(2)%>$ | <%-parseFloat(priceKZT*4.25).toFixed(2)%>₸</p>
                            <a href="#" class="takeOrderbtn">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Dishes-->
<section class="center">
    <h2 class="title">Dishes</h2>
    <div class="accordion" id="accordionExample">
        <div class="card collapseItem">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn-block text-left foodbtn" type="button" data-toggle="collapse" data-target="#collapse8" aria-expanded="true" aria-controls="collapseOne">
                        Dishes
                    </button>
                </h2>
            </div>

            <div id="collapse8" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="card" style="width: 18rem;">
                        <img src="https://eda.yandex/images/1387779/c571c119b9bce60f5ae89ab0561155e0-450x300.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <hr>
                            <h5 class="card-title">Cutlet</h5>
                            <p class="card-text">1.25€ | <%-parseFloat(priceUSD*1.25).toFixed(2)%>$ | <%-parseFloat(priceKZT*1.25).toFixed(2)%>₸</p>
                            <a href="#" class="takeOrderbtn">Add to cart</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="https://eda.yandex/images/1387779/ce61b9eadf1d0a26d6856c1841858b45-450x300.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <hr>
                            <h5 class="card-title">Fried dumplings</h5>
                            <p class="card-text">2.0€ | <%-parseFloat(priceUSD*2.0).toFixed(2)%>$ | <%-parseFloat(priceKZT*2.0).toFixed(2)%>₸</p>
                            <a href="#" class="takeOrderbtn">Add to cart</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="https://eda.yandex/images/1380157/a056e1e7fdf6afae94bd682bdc1d6f3a-450x300.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <hr>
                            <h5 class="card-title">Chicken fillet</h5>
                            <p class="card-text">1.25€ | <%-parseFloat(priceUSD*1.25).toFixed(2)%>$ | <%-parseFloat(priceKZT*1.25).toFixed(2)%>₸</p>
                            <a href="#" class="takeOrderbtn">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion" id="accordionExample">
        <div class="card collapseItem">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn-block text-left foodbtn" type="button" data-toggle="collapse" data-target="#collapse7" aria-expanded="true" aria-controls="collapseOne">
                        Side dishes
                    </button>
                </h2>
            </div>

            <div id="collapse7" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="card" style="width: 18rem;">
                        <img src="https://eda.yandex/images/1368744/7ff0b1d034fb695e3be24549254a381c-450x300.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <hr>
                            <h5 class="card-title">Buckwheat</h5>
                            <p class="card-text">0.50€ | <%-parseFloat(priceUSD*0.50).toFixed(2)%>$ | <%-parseFloat(priceKZT*0.50).toFixed(2)%>₸</p>
                            <a href="#" class="takeOrderbtn">Add to cart</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="https://eda.yandex/images/1380157/17d4816a8abb3bcd31ec073062bf410c-450x300.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <hr>
                            <h5 class="card-title">Rice</h5>
                            <p class="card-text">0.50€ | <%-parseFloat(priceUSD*0.50).toFixed(2)%>$ | <%-parseFloat(priceKZT*0.50).toFixed(2)%>₸</p>
                            <a href="#" class="takeOrderbtn">Add to cart</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="https://eda.yandex/images/1380157/9a6dd4181d20cc246ccfe92af033a81f-450x300.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <hr>
                            <h5 class="card-title">Potato</h5>
                            <p class="card-text">0.75€ | <%-parseFloat(priceUSD*0.75).toFixed(2)%>$ | <%-parseFloat(priceKZT*0.75).toFixed(2)%>₸</p>
                            <a href="#" class="takeOrderbtn">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Drinks-->
<section class="center">
    <h2 class="title">Drinks</h2>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Pepsi</h5>
            <p class="card-text">1.50€ | <%-parseFloat(priceUSD*1.50).toFixed(2)%>$ | <%-parseFloat(priceKZT*1.50).toFixed(2)%>₸</p>
            <a href="#" class="takeOrderbtn">Add to cart</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Coca-Cola</h5>
            <p class="card-text">1.50€ | <%-parseFloat(priceUSD*1.50).toFixed(2)%>$ | <%-parseFloat(priceKZT*1.50).toFixed(2)%>₸</p>
            <a href="#" class="takeOrderbtn">Add to cart</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Tea</h5>
            <p class="card-text">1.00€ | <%-parseFloat(priceUSD*1.0).toFixed(2)%>$ | <%-parseFloat(priceKZT*1.0).toFixed(2)%>₸</p>
            <a href="#" class="takeOrderbtn">Add to cart</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Coffee</h5>
            <p class="card-text">1.50€ | <%-parseFloat(priceUSD*1.50).toFixed(2)%>$ | <%-parseFloat(priceKZT*1.50).toFixed(2)%>₸</p>
            <a href="#" class="takeOrderbtn">Add to cart</a>
        </div>
    </div>


    <br>
    <br>

    <div class="contact">
        <iframe class="map"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2905.587978948219!2d76.94127711523974!3d43.26005628578178!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38836fd811c99287%3A0x9c96d7fd1216eea8!2sBenedict%20Cafe!5e0!3m2!1sru!2skz!4v1645034620208!5m2!1sru!2skz"
            width="80%" height="95%" loading="lazy"></iframe>
        <br>
    </div>

    <br>
    <br>


  <!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section
      class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
    >
      <!-- Left -->
      
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Our restaurant
            </h6>
            <p>
              Here you can find the most delicious dishes and drinks. We will be glad if you, in addition to visiting our website, visit our institution.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Products
            </h6>
            <p>
              <a href="#!" class="text-reset">Cold snacks</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Hot snacks</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Hot dishes</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Alcohol</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="#!" class="text-reset">Pricing</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Settings</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Orders</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Help</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Contact
            </h6>
            <p><i class="fas fa-home me-3"></i> Astana/Nur-Sultan, AstanaIT, KZ</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              Don't call!
            </p>
            <p><i class="fas fa-phone me-3"></i> 87082526885</p>
            <p><i class="fas fa-print me-3"></i> 87026929826</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2022 Aldi&Nurba co:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">LubimPokushat'.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</section>
</body>

</html>